<div class="row justify-content-center editForm">

    <div class="col-5 create-event">
        <h2>CREAR EVENTO</h2>
        <hr>
        <form action="/eventos/crear" method="POST" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="titleInput" class="form-label">Título del evento:</label>
                <input type="text" class="form-control" id="titleInput" name="title">
            </div>

            <div class="mb-3">
                <label for="typeInput" class="form-label">Tipo de evento:</label>
                <input type="text" class="form-control" id="typeInput" name="type">
            </div>

            <div class="mb-3">
                <label for="descriptionInput" class="form-label">Descripción:</label>
                <textarea type="text" class="form-control" id="descriptionInput" rows="3" name="description"></textarea>
            </div>

            <div class="mb-3">
                <label for="descriptionInput" class="form-label">Dirección del evento:</label>
                <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text"
                    class="form-control">
            </div>

            <div class="mb-3">
                <label for="dateInput" class="form-label">Imagen</label>
                <input type="file" class="form-control" id="date" name="eventImg">
            </div>


            <div class="mb-3">
                <label for="dateInput" class="form-label">Fecha:</label>
                <input type="date" class="form-control" id="date" name="date">
            </div>

            <div class="mb-3">
                <label for="startTimeInput" class="form-label">Hora de inicio:</label>
                <input type="time" class="form-control" id="startTime" name="startTime">
            </div>

            <div class="mb-3">
                {{!-- <label for="lngInput" class="form-label">Creador</label> --}}
                <input type="hidden" class="form-control" id="creatorId" name="creator" value="{{userId}}">
            </div>

            <div class="mb-3">
                {{!-- <label for="lngInput" class="form-label">URL a google maps</label> --}}
                <input type="hidden" class="form-control" id="mapsURL" name="URL">
            </div>

            <div class="mb-3">
                {{!-- <label for="lngInput" class="form-label">Dirección</label> --}}
                <input type="hidden" class="form-control" id="address" name="address">
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark block">Añadir Evento</button>
            </div>

        </form>

    </div>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>




<script src="/js/maps/autoComplete.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi1_pFt2aNH7iIISEYWGm8FqYqnM1xs7w&callback=initAutocomplete&libraries=places"></script>