<div class="container log-in">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Inicia sesión</h1>
            <hr>

            <form action="/iniciar-sesion" method="POST">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Dirección de email</label>
                    <input type="email" class="form-control" id="emailInput" name="email">
                </div>

                <div class="mb-3">
                    <label for="pwdInput" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="pwdInput" name="password">
                </div>

                <div class="center-button gap-2">
                    <button type="submit" class="btn btn-dark block">Acceder</button>
                </div>

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}

                <a href=""></a>

            </form>
            <div class="register">
                <p>¿No estás registrado?</p>
                <a href="/registro" class="btn btn-dark">Crear cuenta</a>
            </div>
        </div>
    </div>

</div>