<section class="landing">
    <h1>Bienvenido a Punto Violeta</h1>
    <p>Un espacio seguro en el que poder compartir tu experiencia y que no caiga en el olvido</p>
    <p>Otro párrafo que explique un poco el pro</p>
    <div class="buttons">
        <a href="/mapa" class="btn btn-info">Ver el mapa</a>
        <a href="/registro" class="btn btn-info">Registrar caso</a>
    </div>
</section>