<section class="landing">
    <h1>Bienvenida a Punto Violeta</h1>
    <p>Una plataforma para denunciar y visualizar </p>
    <p>Otro párrafo que explique un poco el pro</p>
    <div class="buttons">
        <a href="/mapa" class="btn btn-info">Ver el mapa</a>
        <a href="/registro" class="btn btn-info">Registrar caso</a>
    </div>
</section>