<section class="landing">
    <h1>Bienvenida a Punto Violeta</h1>
    <p>Una plataforma para visualizar la cantidad de abusos y agresiones sexuales que sufrimos a diario.</p>
    <p>Puedes aportar tu caso de forma voluntaria para denunciar esta realidad.</p>
    <div class="buttons">
        <a href="/mapa" class="btn btn-dark">Ver el mapa</a>
        <a href="/registro" class="btn btn-dark">Registrar caso</a>
    </div>
</section>