<section class="map">

    <div class="container">

        <div>
            <figure id="myMap"></figure>
        </div>

        <div class="row justify-content-center">

            <div class="col-md-8 case-form">

                {{#if user}}

                <h1>¿Te gustaría contar tu caso?</h1>

                <p>Pínea la ubicación del suceso en el mapa y cuenta todo lo que quieras sobre él. Siéntete libre.</p>

                <form action="/usuario/{{id}}/crear-caso" method="POST">
                    <div class="mb-3">
                        {{!-- <label for="descriptionInput" class="form-label">Descripción</label> --}}
                        <textarea type="text" class="form-control" id="descriptionInput" rows="3"
                            name="description"></textarea>
                    </div>

                    <div class="mb-3">
                        <input type="hidden" class="form-control" id="latInput" name="lat">
                    </div>

                    <div class="mb-3">
                        <input type="hidden" class="form-control" id="lngInput" name="lng">
                    </div>

                    <div class="mb-3">
                        <input type="hidden" class="form-control" id="creatorId" name="creator" value="{{id}}">
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="enableComments" value="on"
                            id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Si habilitas esta opción permitirás que otros usuarios te manden mensajes sobre tu caso.
                        </label>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-dark block">Añadir caso</button>
                    </div>
                    {{#if errorMessage}}

                    <div id="errorMessage">
                        <h1>{{errorMessage}}</h1>
                    </div>

                    {{/if}}

                </form>

                {{/if}}

            </div>

        </div>

    </div>


</section>






<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/maps/mapStyles.js"></script>
<script src="/js/maps/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi1_pFt2aNH7iIISEYWGm8FqYqnM1xs7w&libraries=visualization&callback=initMap"></script>