body {
  background-image: url('/images/fondo-2.jpg');
  background-size: cover;
}

p {
font-family: 'sans-serif';
font-size: 1.5em;
}


a {
  color: #ffffff;
}

nav {
  padding: 15px;
}

nav .btn {
  border-style: none;
}

nav .btn:hover {
  color: rgb(134, 134, 134)
}

h1, h2, h3{
  
  font-family: 'DM Serif Display', serif;
  color: #211e28
}

/* ---- LANDING */
.landing {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/images/5418111.jpg');
  background-size: cover;
}
/* ---- LOG-IN Sign-in*/

.log-in{
  margin-top: 40px;
  text-align: center;
}

.register{
  margin-top: 40px;
  text-align: center;
}

/* ---- MAPS & CREATE CASES */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-case-form{
  display: flex;
  flex-direction: column;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myMap, #editMap {
  margin-top: 20px;
  height: 550px;
  width: 1200px;
  border-radius: 5px;
}

.case-form {
  margin-top: 40px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.new-case-form button {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.infowindow-text {
  font-weight: 500;
  font-size: 1.3em;
  color: #a482b0
}

.infowindow-btn {
  color: white;
  background-color: #a482b0;
}

.center-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---- CASE CARD */
.case-card {
  margin: 30px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.comment-details {
  display: flex;
  flex-direction: column;
}

.postedBy {
  font-size: 0.9em;
}

.new-comment {
  margin: 15px auto;
}

.case-details-buttons {
  display: flex;
}

/* ---- EVENTS LIST */
.events-list {
  margin: 30px auto;
}

.event-buttons {
  display: flex;
}

.nav-link p {
  font-family: 'DM Serif Display', serif;
}

.navbar-text{
  margin-left: auto;
}

#errorMessage {
  background-color: rgb(255, 202, 202);
  width: 400px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}

@keyframes  showFromBottom {
  0% {
    bottom: -50px
  }

  10% {
    bottom: 10px;

  }

  90% {
    bottom: 10px;
  }

  100% {
    bottom: -50px
  }
}

.userCases a {
  display: block;
  max-width: 100px;
}

.editUser-off {
  opacity: 0;
}

.editUser-on {
  opacity: 100%;
}

.editForm {
  margin-left: auto;
  margin-right: auto;
}

.eventList{
  display: flex;
  flex-direction: column;
}

.panelDiv{
  margin-top: 40px;
}

.btn{
  border: none;
  margin: 5px;
  width: 150px;
  
}

.btn-check:focus+.btn-dark, .btn-dark:focus, .events-list a {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21;
    box-shadow: none;
    margin: 4px;
}

.btnNav{
  width: 150px;
}

.eventList .btn{
  width: 200px;
  display: inline;
}

.eventList {
  display: flex;
}

.events-list img {
  max-width: 400px;
}

.case {
  padding: 20px;
  margin: 10px;
}
/* ---- Create Event */

.create-event {
  margin-top: 15px;
  margin-bottom: 20px;
}

/* ---- Panel */

.panel-header{
  display: flex;
  align-content: center;
  align-items: center;
}

.center-panel {
  text-align: center;
 align-items: center;

}

.title {
  margin: 20px;
}
.mycasesPanel {
  margin-top: -55px ;
}

.myEventsPanel{
  margin-top: 20px;
}

.cancel-btn{
  margin-top: 4px;
}

.user-events-panel, .manage-events-buttons {
  display: flex;
}

.panel-header {
  display: flex;
  justify-content: space-between;
}


.user-events-panel a, .eventList a, .events-list button {
  color: black;
  background-color: white;
  border: 1px solid black;
}

#create-event {
  text-align: center;
  text-decoration: none;
  padding: 7px;
  margin-top: 15px;
  border-radius: 5px;
}

.events-list h2{
  margin-bottom: 14px;
}

.eventList .list-group-item {
 margin: 2px;
}

.eventList .btn-danger{
  background-color: #FABE60
}





