body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ffffff;
}

nav {
  padding: 15px;
}

nav .btn {
  border-style: none;
}

nav .btn:hover {
  color: rgb(134, 134, 134)
}

h1 {
  color: 15px;
}

/* ---- LANDING */
.landing {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/images/5418111.jpg');
  background-size: cover;
}

/* ---- MAPS & CREATE CASES */

.map {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myMap, #editMap{
  margin: 20px;
  height: 550px;
  width: 90%;
  border-radius: 5px;
}

.case-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-text{
  margin-left: auto;
}

#errorMessage {
  background-color: rgb(255, 202, 202);
  width: 400px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}

@keyframes  showFromBottom {
  0% {
    bottom: -50px
  }

  10% {
    bottom: 10px;

  }

  90% {
    bottom: 10px;
  }

  100% {
    bottom: -50px
  }
}

.userCases a {
  display: block;
  max-width: 100px;
}

.editUser-off {
  opacity: 0;
}

.editUser-on {
  opacity: 100%;
}

.editForm {
  margin-left: auto;
  margin-right: auto;
}

.eventList{
  display: flex;
  flex-direction: column;
}

.panelDiv{
  margin-top: 40px;
}

.btn{
  border: none;
  margin: 5px;
  width: 100px;
  
}
.btn-check:focus+.btn-dark, .btn-dark:focus {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21;
    box-shadow: none
}

.btnNav{
  width: 150px;
}

.eventList .btn{
  width: 200px;
  display: inline;
}

.eventList {
  display: flex;
}

.case {
  padding: 20px;
  margin: 10px;
}

